<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Credentials</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
      crossorigin="anonymous"
    ></script>

  </head>
  <body>
    <div class="container p-4">
      {{! NAV BAR }}

      <nav class="navbar navbar-expand-lg navbar-primary bg-primary">
        <div class="container">
          <a class="navbar-brand" href="/">
            <i class="fas fa-link"></i>
            Balcarse Credentials
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
              {{#if user}}
                <li class="nav-item dropdown">
                  <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    id="navbarDropdown"
                    role="button"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    Links
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/links">All Links</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/links/add">Add A Link</a>
                  </div>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/profile">Profile</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/logout">Logout</a>
                </li>
              {{else}}
                <li class="nav-item">
                  <a class="nav-link" href="/signin">SignIn</a>
                </li>
                {{!-- <li class="nav-item">
                  <a class="nav-link" href="/signup">SignUp</a>
                </li> --}}
              {{/if}}
            </ul>
          </div>
        </div>
      </nav>

      <div class="row">
        {{#each credentials}}
          <div class="col-xl-3">
            <div class="card text-center border-primary mt-4">
              <div class="card-header">
                <h4 class="h4">Titular
                  <h3 class="card-title text-uppercase h5">
                    {{fullname}}
                  </h3>
                </h4>
              </div>
              <div class="card-body">
                <h5 class="card-header h5">Relative</h5>
                <p class="m-2">Name: {{name}} {{lastname}}</p>
                {{!-- <p class="m-2">Lastname: {{lastname}}</p> --}}
                <p class="m-2">Dni: {{dni}}</p>
                <p class="m-2">Parentezco: {{relationship}}</p>
                <div class="card-footer">
                  <p class="text-muted">
                    Ingresado
                    {{created_at}}
                  </p>
                </div>

              </div>
            </div>
          </div>
        {{else}}
          <div class="col-md-4 mx-auto">
            <div class="card card-body text-center">
              <p>There are not relatives saved yet.</p>
              <a href="/links/add">Create One!</a>
            </div>
          </div>
        {{/each}}
      </div>
    </div>

  </body>
</html>